* {
    font-family: Arial, Helvetica, sans-serif;
}

#search {
    width: 230px;
    font-size: large;
    margin-top: 10px;
    margin-left: 20px;
}

#submit {
    font-size: large;
    font-weight: 600;
    margin-left: 15px;
}

#resultHeader {
    margin: 10px;
    margin-left: 25px;
}

.cardResult {
    margin-left: 25px;
    line-height: 25px;
}

.errorMessage {
    margin-left: 10px;
}

#phpFooter {
    margin-top: 30px;
}