h1 {
    color: rgb(192, 31, 31);
}

.class1 {
    font-family:Arial, Helvetica, sans-serif;
    
}

body {
    background: linear-gradient(lightblue 50%, rgb(241, 79, 79) 100%);
}

p sup {
    font-weight: 1000;
}

p sub {
    font-weight: 1000;
}

a:hover {
    color:rgb(31, 136, 31);
}

ul {
    padding: 50px 70px;
}

img {
    padding: 30px 40px;
    border: dashed black 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#id {
    color: rgb(2, 83, 83);
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    float: right;
}

q {
    line-height: 2.5;
}

@media screen and (max-width: 600px) {
    q {
        font-size: 10px;
    }
    img {
        padding: 10px 15px;
    }
}