h1 {
    color: rgb(192, 31, 31);
}

.class1 {
    font-family:Arial, Helvetica, sans-serif;
}

p sup {
    font-weight: 1000;
}

p sub {
    font-weight: 1000;
}

a:hover {
    color:rgb(31, 136, 31);
}